html, body {
  background: rgb(24, 24, 24);
  overscroll-behavior: contain;
  overflow: auto; /* Allow scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.App {
  background: inherit; /* Inherits the background from the parent */
}
